<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.entity.Goods">
    <id column="g_ID" jdbcType="INTEGER" property="g_ID" />
    <result column="g_Name" jdbcType="VARCHAR" property="g_Name" />
    <result column="t_ID" jdbcType="INTEGER" property="t_ID" />
    <result column="g_Price" jdbcType="REAL" property="g_Price" />
    <result column="g_Discount" jdbcType="REAL" property="g_Discount" />
    <result column="g_Number" jdbcType="INTEGER" property="g_Number" />
    <result column="g_ProduceDate" jdbcType="TIMESTAMP" property="g_ProduceDate" />
    <result column="g_Image" jdbcType="VARCHAR" property="g_Image" />
    <result column="g_Status" jdbcType="VARCHAR" property="g_Status" />
    <result column="g_Description" jdbcType="VARCHAR" property="g_Description" />
    <result column="g_BID" jdbcType="VARCHAR" property="g_BID" />
  </resultMap>
  <sql id="Base_Column_List">
    g_ID, g_Name, t_ID, g_Price, g_Discount, g_Number, g_ProduceDate, g_Image, g_Status, 
    g_Description, g_BID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where g_ID = #{g_ID,jdbcType=INTEGER}
  </select>
  <select id="getGoodsByName" parameterType="com.entity.Goods" resultMap="BaseResultMap">
      select g_ID,g_Name,g_Price,g_Discount,g_Image from goods where 
      <if test="g_Name != ''">
      g_Name like CONCAT('%',#{g_Name},'%'), 
      </if>
      <if test="g_BID != 0">
        g_BID = #{g_BID}
      </if>
  </select>
  <select id="getGoodsByGid" resultMap="BaseResultMap">
      select g.g_ID,g.g_Name,g.g_Discount,g.g_Image,g.g_Price,g.g_Number,b.b_Name,g.g_BID,g.g_Description 
      from goods as g,brand as b where  b.b_ID=#{b_Id} and g.g_ID=#{g_ID}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where g_ID = #{g_ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Goods">
    insert into goods (g_ID, g_Name, t_ID, 
      g_Price, g_Discount, g_Number, 
      g_ProduceDate, g_Image, g_Status, 
      g_Description, g_BID)
    values (#{g_ID,jdbcType=INTEGER}, #{g_Name,jdbcType=VARCHAR}, #{t_ID,jdbcType=INTEGER}, 
      #{g_Price,jdbcType=REAL}, #{g_Discount,jdbcType=REAL}, #{g_Number,jdbcType=INTEGER}, 
      #{g_ProduceDate,jdbcType=TIMESTAMP}, #{g_Image,jdbcType=VARCHAR}, #{g_Status,jdbcType=VARCHAR}, 
      #{g_Description,jdbcType=VARCHAR}, #{g_BID,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="g_ID != null">
        g_ID,
      </if>
      <if test="g_Name != null">
        g_Name,
      </if>
      <if test="t_ID != null">
        t_ID,
      </if>
      <if test="g_Price != null">
        g_Price,
      </if>
      <if test="g_Discount != null">
        g_Discount,
      </if>
      <if test="g_Number != null">
        g_Number,
      </if>
      <if test="g_ProduceDate != null">
        g_ProduceDate,
      </if>
      <if test="g_Image != null">
        g_Image,
      </if>
      <if test="g_Status != null">
        g_Status,
      </if>
      <if test="g_Description != null">
        g_Description,
      </if>
      <if test="g_BID != null">
        g_BID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="g_ID != null">
        #{g_ID,jdbcType=INTEGER},
      </if>
      <if test="g_Name != null">
        #{g_Name,jdbcType=VARCHAR},
      </if>
      <if test="t_ID != null">
        #{t_ID,jdbcType=INTEGER},
      </if>
      <if test="g_Price != null">
        #{g_Price,jdbcType=REAL},
      </if>
      <if test="g_Discount != null">
        #{g_Discount,jdbcType=REAL},
      </if>
      <if test="g_Number != null">
        #{g_Number,jdbcType=INTEGER},
      </if>
      <if test="g_ProduceDate != null">
        #{g_ProduceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="g_Image != null">
        #{g_Image,jdbcType=VARCHAR},
      </if>
      <if test="g_Status != null">
        #{g_Status,jdbcType=VARCHAR},
      </if>
      <if test="g_Description != null">
        #{g_Description,jdbcType=VARCHAR},
      </if>
      <if test="g_BID != null">
        #{g_BID,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Goods">
    update goods
    <set>
      <if test="g_Name != null">
        g_Name = #{g_Name,jdbcType=VARCHAR},
      </if>
      <if test="t_ID != null">
        t_ID = #{t_ID,jdbcType=INTEGER},
      </if>
      <if test="g_Price != null">
        g_Price = #{g_Price,jdbcType=REAL},
      </if>
      <if test="g_Discount != null">
        g_Discount = #{g_Discount,jdbcType=REAL},
      </if>
      <if test="g_Number != null">
        g_Number = #{g_Number,jdbcType=INTEGER},
      </if>
      <if test="g_ProduceDate != null">
        g_ProduceDate = #{g_ProduceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="g_Image != null">
        g_Image = #{g_Image,jdbcType=VARCHAR},
      </if>
      <if test="g_Status != null">
        g_Status = #{g_Status,jdbcType=VARCHAR},
      </if>
      <if test="g_Description != null">
        g_Description = #{g_Description,jdbcType=VARCHAR},
      </if>
      <if test="g_BID != null">
        g_BID = #{g_BID,jdbcType=VARCHAR},
      </if>
    </set>
    where g_ID = #{g_ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Goods">
    update goods
    set g_Name = #{g_Name,jdbcType=VARCHAR},
      t_ID = #{t_ID,jdbcType=INTEGER},
      g_Price = #{g_Price,jdbcType=REAL},
      g_Discount = #{g_Discount,jdbcType=REAL},
      g_Number = #{g_Number,jdbcType=INTEGER},
      g_ProduceDate = #{g_ProduceDate,jdbcType=TIMESTAMP},
      g_Image = #{g_Image,jdbcType=VARCHAR},
      g_Status = #{g_Status,jdbcType=VARCHAR},
      g_Description = #{g_Description,jdbcType=VARCHAR},
      g_BID = #{g_BID,jdbcType=VARCHAR}
    where g_ID = #{g_ID,jdbcType=INTEGER}
  </update>
</mapper>